:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107; /* rgba(255,193,7)*/
    --secundario: #0097a7;
    --gris: #757575;

    /*
    --fuente-principal: 3.8rem;
    */
}
html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1rem = 10px*/
    font-family: "Work Sans", sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}
.titulo span {
    font-size: 2rem;
}
.contenedor {
    max-width: 120rem;
    /*
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    Esto es lo mismo que abajo 
    */
    /* Tambien puede ser asi*/
    /*
    margin: 0 auto 0 auto ;
    /*
    /*Queda mejor asi*/
    margin: 0 auto;
}
.nav-bg {
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
     /* background-color: var(--primario); */
     display: block;
     text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem ;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 20px;
}
